/* STYLES for TARIFFS page */
/* TAB-container */
.tab-container {
	display: flex;
	flex-direction: column;
	min-height: 700px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	transition: 0.3s ease;
	font-size: 26px;
}
.tab-buttons {
	display: flex;
}
.tab-button {
	flex: 1;
	font-size: 1em;
	font-weight: 700;
	padding: 1em;
	color: #007bff;
	text-align: center;
	cursor: pointer;
	background-color: #101010;
	border-bottom: 3px solid #101010;
	opacity: 0.4;
	border: none;
	outline: none;
	transition: 0.3s ease;
}
.tab-button:hover{
	transition: 0.3s ease;
	opacity: 1;
}
.tab-button.active {
	opacity: 1;
	background-color: #101010;
	border-bottom: none;
	color: #007bff;
	transition: 0.3s ease;
	border-bottom: 3px solid #EFDC02;
}
.tab-content{
	font-size: 0.77em;
	font-weight: 300;
	color: #EFDC02;
	}
.tab-content ul li{
	padding-bottom: 0.19em;
}
.tab-content ul{
	padding-left: 2em;
}
#tab1 p{
	color: #0368fd;
	margin-bottom: 2em;
}
#tab1 h2{
	font-size: 1.2em;
	font-weight: 400;
	color: #EFDC02;
	text-align: center;
}
/* table */
#tab1 table{
	border-collapse: collapse;
	font-weight: 300;
}
#tab1 table th{
	 background-color: #EFDC02;
	 border-left: 1px solid #EFDC02;
	 border-right: 1px solid #EFDC02;
	 border-bottom: 1px solid #101010;
	 color: #101010;
}
#tab1 table th:nth-child(1){
	border-right: 1px solid #101010;
}
#tab1 table th:nth-child(2){
	border-left: 1px solid #101010;
}
#tab1 th, td, tr{
	border: 1px solid #EFDC02;
	padding: 0.5em 0.5em;
}
#tab1 table td:last-child {
	text-align: center;
} 

#tab1 tr:hover {
	background: #EFDC02; 
	color: #101010;
}
#tab1 tr:hover td:nth-child(1){
	border-right: 1px solid #101010;
}
/* END table */
#tab2 p{
	color: #EFDC02;
}
.tab-content {
	display: none;
	padding: 20px;
	border-top: 1px solid #0368fd;
	color: #0368fd;
}
.tab-content img{
	width: 30px;
	color: #0368fd;
}
.tab-content.active {
	display: block;
}
.tariffs-drot{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 0;
	margin-bottom: 2em;
}
/* btn-black-yellow */
.btn-black-yellow{
	font-size: 0.77em;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	padding: 0.5em 1.5em;
	border: 1px solid #EFDC02;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	color: #EFDC02;
	text-decoration: none;
	transition: 0.3s ease all;
	z-index: 1;
	background-color: #101010;
}
.btn-black-yellow:before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #EFDC02;
	z-index: -1;
}
 .btn-black-yellow:hover, .btn-black-yellow:focus {
	color: rgb(0, 0, 0);
 }
.btn-black-yellow:hover:before, .btn-black-yellow:focus:before {
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
 }
.btn-black-yellow:active {
	transform: scale(0.9);
 }
 /* END btn-black-yellow */
	.container-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	border-collapse: collapse;
	width: 100%;
	place-items: center start;
	}
	.container-grid div {
	padding: 5px;
	color: #0368fd;
	}
	.container-grid div img{
	width: 30px;
	height: 30px;
	border: 1px solid #101010;
	border-radius: 5px;
	transition: 0.2s ease;
	}
	.container-grid div img:hover{
	border: 1px solid #EFDC02;
	border-radius: 5px;
	}
	.container-grid div img:active {
	transform: scale(0.9);
	}
/* END TAB-container */
/* END STYLES for TARIFFS page */


/* @media for TARIFFS page */
@media (max-width: 675px){
	.tariffs-drot{
		flex-direction: column;
		justify-content: center;
	}
}
@media (max-width: 460px){ 
	.tab-button{
		font-size: 0.92em;
	}
	.tab-content{
		font-size: 0.69em;
	}
}
@media (max-width: 425px){ 
	.tab-content table{
		font-size: 0.8em;
	}
}
@media (max-width: 365px){
	.tab-button{
		font-size: 0.77em;
	}
	.tab-content {
		font-size: 0.62em;
	}
}
@media (max-width: 335px){ 
	.tab-content table{
		font-size: 0.7em;
	}
}
@media (max-width: 319px){
	.tab-button{
		font-size: 0.69em;
	}
}
@media (max-width: 311px){ 
	.tab-content table{
		font-size: 0.6em;
	}
}
/* END @media for TARIFFS page */
